<div class="container">
<% include ../partials/header %>

<style>
    .id1{
       text-align: right;
       }

    #lattitude{
        display: none;
    }

    #longitude{
         display: none;
    }
</style>

<div id="lattitude"><%= res[0].latitude%></div>
<div id="longitude"><%= res[0].longitude%></div>

<script> function initMap() {
    // The location of Montreal
    
    var campgroundLocation = {lat:Number(document.getElementById('lattitude').innerText), lng:Number(document.getElementById('longitude').innerText)};
    // The map, centered at Montreal
    var map = new google.maps.Map(
        document.getElementById('map'), {zoom: 4, center: campgroundLocation});
    // The marker, positioned at my home address
    var marker = new google.maps.Marker({position: campgroundLocation, map: map});
  }    </script>

<!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key 
    * The callback parameter executes the initMap() function
    -->
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqPZxGV6POXCk20Rf7BuTeex92YzEhVgs&callback=initMap">
</script>

<div class="row">
<div class="col-md-3">
    <p class="lead">Campsite Map location</p>
    
    <!-- <div class="list-group">
        <li class="list-group-item active">Catogory 1</li>
        <li class="list-group-item">Catogory 2</li>
        <li class="list-group-item"><%= campground.address %></li>
    </div> -->

    <div id="map"></div>
</div>
<div class="col-md-9">
    <div class="img-thumbnail">
        <img class="img-fluid" src= "<%=campground.image%>" >
    
    <div class="figure-caption">
        <h3 class="float-right">$<%= campground.price %>/night</h3>
        <h4><a href=""><%= campground.name %></a></h4>
          <p><%= campground.description%></p>
          <p>
            <strong><em> Submitted by <%= campground.author.username %></em></strong>  
               </p>
             <% if(currentUser && campground.author.id.equals(currentUser._id)) { %>
             <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-sm btn-warning">Edit Campground</a>
            <form id="delete-form" action="/campgrounds/<%= campground._id %>/?_method=DELETE" method="POST"> 
               <button class="btn btn-sm btn-danger">Delete Campground</button>
            </form>
           <% } %>
    </div>
  
    </div>
    <br>
    <div class="card bg-light">
        <div class="card-body">
        <div class="text-right">
        <a class="btn btn-success" href="/campgrounds/<%=campground._id%>/comments/new">Add New Comments</a>
        </div>
        <hr>
        <% campground.comments.forEach(function(comment){ %>
        <div class="row">
            <div class="col-md-12">
              <strong> <%=comment.author.username %></strong> <span class="float-right"><%= moment(comment.createdAt).fromNow() %></span> 
               <p> <%= comment.text%>  </p> 
                <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
               <a class="btn btn-sm btn-warning"
               href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit"
               >Edit</a>
               <form id="delete-form" action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                   <button class="btn btn-sm btn-danger"> Delete</button>
               </form>
               <% } %>
            </div>
        </div>
     
         <% }); %>
         </div>
       
    </div>
</div>

</div>











</div>
<% include ../partials/footer %>
